body{
    width: 100%;
    margin: 0;
}

.school-list {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: auto;
    background-color: rgba(243, 243, 243, 0.56);
    width: 90%;
    padding: 50px;
    border-radius: 10px;
    height: 1000px;
    margin-top: 30px;
}


h1 {
    font-size: 2rem;
    margin-bottom: 40px;
}

p{
    margin-bottom: 40px;
}

.input-group{
    margin-bottom: 40px;
}

button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add-button {
    background-color: #5ebe23;
    font-size: 1.2rem;

}

.add-button:hover {
    background-color: #1ea400;
}

.delete-button {
    background-color: #be2e20;
}

.delete-button:hover {
    background-color: #a21d0e;
}

input[type='text'] {
    font-size: 1.2rem;
    padding: 10px;
    border: 2px solid rgba(100, 100, 100, 0.65);
    border-radius: 5px;
    color: rgba(106, 101, 101, 0.76);
}

ul {
    padding: 0;
}

li {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid #848484;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 30px;
}

li span {
    margin: auto;
    width: 200px;
    text-align: left;
}

.text {
    flex: 1;
}

.delete-button {
    padding: 2px 5px;
    width: 55px;
    height: 30px;
    font-size: 12px;
}

.all-deny-rate {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 30px;
    padding: 10px;
    margin: auto;
    background-color: hsl(0, 0%, 97%);
    font-size: 1rem;
    border: 3px solid #848484;
    border-radius: 5px;
    padding: 10px;
}

.all-deny-rate div {
    margin: auto;
}



@media only screen and (max-width: 767px) {
    body{
        padding: 10px;
    }

    input[type='text'] {
        font-size: 1rem;
    }

    .school-list-li {
        width: 100%;
        font-size: 15px;
        padding: 3px;
    }
    .school-list-li span{
        margin-left: 10px;
        font-size: 12fpx;
    }

    .all-deny-rate {
        width: 100%;
        font-size: 15px;
        padding: 3px;
        display: flex;
        flex-direction: column;
        height: 100px;
    }

    .input-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px;
        margin-bottom: 30px;

    }

    h1{
        font-size: 1.7rem;
        margin-bottom: 30px;
    }

    p{
        margin-bottom: 30px;
    }

    .school-list{
        background-color: white;
    }




}